services:
  be:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ktfs-be
    env_file:
      - .env
    ports:
      - 8080:8080
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - net

  db:
    container_name: ktfs-db
    image: postgres:alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - 5432:5432
    restart: unless-stopped
    networks:
      - net

networks:
  net:
    driver: bridge